@import '../../styles/colors';
@import '../../styles/variables';

.panel {
    padding: 1rem;

    &__controls {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    &__edit {
        label {
            display: block;
        }

        &-actions {
            margin-top: 1rem;

            button {
                margin-right: .5rem;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .toggle-edit {
        float: right;
    }

    .save-changes {
        float: right;
        margin-right: .5rem;
    }

    .control-container {
        cursor: pointer;
    }
}