@import '../../styles/colors';
@import '../../styles/variables';

.group-editor {
    position: relative;

    .actions {
        margin-top: 1rem;

        .btn {
            &:first-child {
                margin-right: 3rem;
            }
        }
    }

    .color-preview {
        display: inline-block;
        margin-left: 0.5rem;
        width: 34px;
        height: 34px;
        border: 1px solid $color-border;
        border-radius: $global-radius;
        cursor: pointer;
    }

    .color-picker-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}