@import '../../styles/colors';
@import '../../styles/variables';

.board {
    padding: 1rem;
    border: 1px solid $color-border;
    border-radius: $global-radius;
    min-height: 50%;
    background: $color-body;

    &__groups {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    &__edit {
        &-actions {
            margin-top: 1rem;

            .btn {
                margin-right: .5rem;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .toggle-edit {
        float: right;
    }

    .save-changes {
        float: right;
        margin-right: .5rem;
    }
}