.btn {
    border: $button-border;
    border-radius: $button-radius;
    background: $color-button;
    color: $color-button-text;
    padding: $button-padding;
    transition: background-color 0.3s;

    &:hover {
        cursor: pointer;
        background: $color-button-highlight;
    }

    &[disabled] {
        cursor: not-allowed;
        background: $color-button-disabled;
    }

    &--primary {
        background: $color-button-primary;

        &:hover {
            background: $color-button-primary-highlight;
        }
    }

    .fa {
        margin-right: .35rem;
        margin-left: -0.1rem;
        vertical-align: middle;
    }
}