$color-body: #555;
$color-body-text: #ddd;

$color-border: #383838;

$color-modal: rgba(#222, 0.75);

$color-sidebar: #424242;
$color-sidebar-text: #eee;
$color-sidebar-item: darken($color-body, 10%);
$color-sidebar-item-text: #eee;
$color-sidebar-item-active: $color-body;

$color-control: #555;
$color-control-text: #ddd;
$color-switch-on: #2a6b5e;
$color-switch-off: #ca371d;

$color-button: #2a6b5e;
$color-button-highlight: lighten($color-button, 5%);
$color-button-primary: #0a6451;
$color-button-primary-highlight: lighten($color-button-primary, 5%);
$color-button-text: #eee;
$color-button-border: darken($color-button, 15%);
$color-button-disabled: darken($color-button, 10%);
$color-button-disabled-text: #666;