$font-size-default: 1rem;
$font-size-small: 0.8rem;

$global-radius: 4px;

$header-height: 50px;

$sidebar-width: 200px;
$sidebar-height: 100vh;

$control-width: 100px;
$control-min-height: 100px;
$switch-width: 100px;
$switch-min-height: 30px;

$button-border: 1px solid $color-button-border;
$button-radius: $global-radius;
$button-padding: .35rem .5rem;