$font-default: 16px Helvetica, Arial, sans-serif;
$font-size-default: 1rem;
$font-size-large: 1.1rem;
$font-size-small: 0.9rem;
$font-size-xsmall: 0.8rem;

$global-radius: 4px;

$header-height: 50px;

$sidebar-width-closed: 38px;
$sidebar-width-open: 200px;
$sidebar-height: calc(100vh - 100px);

$control-font-size: $font-size-default;

$control-width: 110px;
$control-min-height: 100px;
$control-padding: 0 0.5rem 0.5rem;
$switch-width: 100px;
$switch-min-height: 30px;
$switch-padding: 0 0.5rem 0.5rem;

$button-border: 1px solid $color-button-border;
$button-radius: $global-radius;
$button-padding: 0.35rem 0.5rem;

$form-input-padding: 0.5rem;

$group-border-radius: $global-radius;
