@import 'colors';
@import 'variables';

html, body {
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: $color-body;
    color: $color-body-text;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 1rem;
}

.main-container {
    margin-top: $header-height;
    margin-left: $sidebar-width;
    padding: 1rem;
}