@import '../../styles/colors';
@import '../../styles/variables';

.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background: $color-sidebar;
    color: $color-sidebar-text;
    padding: .5rem;
    box-sizing: border-box;
    overflow: hidden;

    .info {
        display: flex;
        flex-direction: row;
    }
}