@import '../../styles/colors';
@import '../../styles/variables';

.header {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    top: 0;
    left: 0;
    height: $header-height;
    background: $color-sidebar;
    color: $color-sidebar-text;
    padding: .5rem;
    box-sizing: border-box;
    overflow: hidden;

    .info {
        display: flex;
        flex-direction: row;
    }
}