@import '../../styles/colors';
@import '../../styles/variables';

.sidebar {
    grid-row-start: 2;
    grid-column-start: 1;
    width: $sidebar-width;
    height: $sidebar-height;
    background: $color-sidebar;
    box-sizing: border-box;
    color: $color-sidebar-text;

    .boards {
        list-style-type: none;
        margin: 0 0 0 .5rem;
        padding: 0;

        li {
            display: block;
            width: 100%;
            box-sizing: border-box;
            padding: .5rem;
            margin-bottom: .25rem;
            background: $color-sidebar-item;

            &:first-child {
                padding-left: 0;
            }

            &.board {
                position: relative;
                border-radius: $global-radius 0 0 $global-radius;
                border: 1px solid $color-border;
                border-right: 0;
                padding: 0;
                background: $color-sidebar-item;
               
                &.active {
                    background: $color-sidebar-item-active;
                    border-right: 1px solid $color-sidebar-item-active;
                    width: calc(100% + 1px);
                }

                .board-label {
                    display: block;
                    width: 100%;
                    padding: .5rem;
                    text-decoration: none;
                    color: $color-sidebar-item-text;
                    cursor: pointer;
                }
            }
            
            &:first-child {
                background: none;
            }
        }
    }

    .add-board {
        width: 100%;
    }

    .board-action {
        float: right;
        margin-top: .5rem;
        margin-right: .5rem;
        cursor: pointer;
    }
}