@import '../../styles/colors';
@import '../../styles/variables';

.group {
    min-height: 100px;
    min-width: 100px;
    padding: 1rem;
    margin: 0 1rem 1rem 0;
    border: 1px solid $color-border;
    border-radius: $group-border-radius;

    &:last-child {
        margin-right: 0;
    }

    &__label {
        display: block;
        position: relative;
        min-height: 1.2rem;
        text-align: center;
        border: 1px solid transparent;
        border-radius: $global-radius;

        .edit-icon {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
        }

        &:hover {
            border: 1px dotted $color-border;
            cursor: pointer;
            
            .edit-icon {
                display: block;
            }
        }
    }

    &__actions {
        margin: 1rem 0 1.5rem;
        text-align: center;

        .btn {
            margin-right: .5rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__controls {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .control-container {
        position: relative;
        cursor: pointer;
    }

    .remove-control {
        position: absolute;
        top: -10px;
        right: 0;
        z-index: 2;
    }

    &--editmode {
      .control {
          &:hover {
              cursor: move;
          }
      }  
    }
}